/* HEADER NAV */
header {
  width: 100%;
  background-color: #709CC1;
}

.icon {
  float: left;
  width: 10%;
  padding: 0;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.login {
  display: inline-block;
  float: right;
  padding: 15px;
  font-size: 12px;
}

#login-button {
  float: right;
  margin: 1px;
  width: 10%;
  /*font-size: 75%;*/
  background: #4C6C9D;
  border: none;
  color: #fff;
}

#login-button:hover {
  background: #99CED4;
}

.loggedin-links {
  display: none;
  float: right;
}

/* REGISTER */
.register-wrapper {
  position: fixed;
  background: rgba(0,0,0,0.75);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.registration {
  position: relative;
  width: 50%;
  top: 10%;
  padding: 40px;
  font: 95% Arial, Helvetica, sans-serif;
  margin: 5px auto;
  padding: 15px;
  background: #F7F7F7;
}

.registration h2 {
  background: #709CC1;
  padding: 10px 0;
  font-size: 130%;
  font-weight: 250;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.registration input {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 2%;
  font: 95% Arial, Helvetica, sans-serif;
}

#register-button {
  width: 25%;
  font-size: 100%;
  background: #709CC1;
  border: none;
  color: #fff;
}

.complete-registration {
  text-align: center;
  display: none;
}

.close {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: grey;
  border-radius: 50%;
  color: white;
}

.close:hover {
  background-color: white;
}

/* PAGE CONTENT WRAPPER */

.page-content {
  width: 100%;
  height: 100%;
  /*background-color: lightpink;*/
}

/* HOME PAGE */
.home {
  position: relative;
  width: 100%;
  height: 660px;
  background-image: url('images/boston.jpg');
  background-size: cover;
  opacity: 0.8;
}

/* ABOUT */
.about {
  position: relative;
  width: 45%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.75);;
  /*opacity: 0.6;*/
}

/* SIGN UP BUTTON */
#signup {
  position: relative;
  width: 35%;
  border-radius: 3%;
  padding: 3%;
  font-size: 100%;
  top: 75%;
  left: 33%;
  background: #709CC1;
  border: none;
  color: #fff;
}

#signup:hover {
  background: #99CED4;
}

/* SEARCH */
.search-box {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 1%;
  font: 95% Arial, Helvetica, sans-serif;
}

/* PROFILE */
.profile-page {
  /*display: none;*/
}

.profile-name {
  position: relative;
  left: 100px;
  top: 10px;
  text-align: center;
  width: 300px;
  height: 50px;
  /*background-color: pink;*/
}

.profile-picture {
  position: relative;
  float: left;
  left: 100px;
  top: 20px;
  background-color: #709CC1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.profile-picture i {
  position: relative;
  left: 50px;
  top: 40px;
  opacity: 0.6;
}

.profile-picture i:hover {
  opacity: 1;
}

.description {
  float: left;
  position: relative;
  left: 150px;
  top: 45px;
  background-color: #709CC1;
  width: 700px;
  height: 250px;
}

/* CREATE FORM */
.create-listing {
  display: none;
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 5px auto;
  padding: 15px;
  background: #F7F7F7;
}

.create-listing h2 {
  background: #709CC1;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

.create-listing input {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  font: 95% Arial, Helvetica, sans-serif;
}

#create {
  width: 100%;
  padding: 3%;
  background: #709CC1;
  border-bottom: 2px solid #4C6C9D;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}

#create:hover {
  background: #99CED4;
}

.complete-listing {
  text-align: center;
  display: none;
}
